env:
    global:
        # FTP_USER
        - secure: "dTf2RT7ou9Tquuf7ymgOHUZ8oDFo7CCOuMmAhG4oLZyL6piXCvBhoSKdqZuhYbv+auvy9Omu2JBdreVdQn1DWnE/UV9uJqIdCwZht9KLkKksNwUcErmh0B5K6W5txajX0wCEa5PgBRPJvE4eLtPqdek+OSRAElbJMvBF30SW36U="
        # FTP_PASSWORD
        - secure: "ZRRa0UtOGHFRH7YZh+oVLomNlBQO15wJNlS2Sqk66ZIgCj3kKMuttv9sU7V6N8qbeaYw3VATuQJyvTOCq5GVnBm9MhttDhEf3KQFSsnq7kDga/ZHXIaT+P5+Ej1NY1BMEs1AC63AVXAN0eYY9mjURiChlFAf/VwFvxd6rPSZuY8="
script: "bundle exec jekyll build -t"
install: bundle install
after_success:
    "chmod u+x ./_scripts/upload.sh && ./_scripts/upload.sh"