---
title: Mods
layout: fancy-header
---
<div class="row" data-equalizer>
<h2 class="hr small-12 columns">Main Pack</h2>
{% assign mods = site.data.mods.main | sort: 'name' %}
{% for mod in mods %}
	<div class="medium-4 large-3 columns end item-info" data-equalizer-watch>
	{% if mod.website %}<a href="{{ mod.website }}" target="_blank">{% endif %}
		<div class="item-info-icon" style="background-image: url({% if mod.logo %}{{ mod.logo }}{% else %}img/mod-nologo.png{% endif %});"></div>
		<div class="item-info-name">{{ mod.name }}</div>
		<div class="mod-info-author">{{ mod.author }}</div>
	{% if mod.website %}</a>{% endif %}
	</div>
{% endfor %}
</div>
<div class="row" data-equalizer>
<h2 class="hr small-12 columns">Lite Pack</h2>
{% assign mods = site.data.mods.lite | sort: 'name' %}
{% for mod in mods %}
	<div class="medium-4 large-3 columns end item-info" data-equalizer-watch>
	{% if mod.website %}<a href="{{ mod.website }}" target="_blank">{% endif %}
		<div class="item-info-icon" style="background-image: url({% if mod.logo %}{{ mod.logo }}{% else %}img/mod-nologo.png{% endif %});"></div>
		<div class="item-info-name">{{ mod.name }}</div>
		<div class="mod-info-author">{{ mod.author }}</div>
	{% if mod.website %}</a>{% endif %}
	</div>
{% endfor %}
</div>